.header-actions {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 8px;
}

.header-actions__cart-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #b9bdc5;
}
@media (max-width: 991px) {
  .header-actions__cart-link {
    width: 36px;
    height: 36px;
  }
}

.header-actions__cart-link:hover {
  fill: #1062fe;
}
@media (max-width: 991px) {
  .header-actions .header-actions__register {
    display: none;
  }
  .header-actions .header-actions__login {
    display: none;
  }
}

.header-actions__user-menu {
  display: none;
}
@media (max-width: 991px) {
  .header-actions__user-menu {
    display: block;
  }
}

.header-actions__search {
}
