@media (min-width: 992px) {
  .nav__wrapper {
    display: flex;
    color: #0c0d0f;
  }
}

@media (max-width: 991px) {
  .nav__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: var(--mobile-menu-width);
    transform: translateX(calc(-1 * var(--mobile-menu-width)));
    transition: transform 0.3s ease-out;
    background: linear-gradient(180deg, #1062fe, #009aff);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;

    .nav__item {
      visibility: hidden;
    }
  }

  .nav__wrapper.active {
    z-index: 100;
    color: #ffffff94;
    transition: all 0.3s ease-out;

    .nav__item {
      visibility: visible;
    }
  }
}

@media (max-width: 991px) {
  .nav__item:first-child::before {
    position: relative;
    display: inline-block;
    content: "Menu";
    padding: 16px 16px 3px;
    font-size: 14px;
    line-height: 24px;
  }
}

.nav__item a {
  color: inherit;
  display: block;
  padding: 11px 10px;
  font-size: 17px;
  line-height: 24px;
}

.nav__item a:hover {
  color: #fff;
  background-color: transparent;
}

@media (min-width: 992px) {
  .nav__item a {
    padding: 26px 13px;
  }
  .nav__item a:hover {
    color: #1062fe;
  }
}

.nav__item--header-bottom {
  display: none;

  @media (max-width: 991px) {
    display: block;
  }
}

.nav__toggle {
  display: none;
}

@media (max-width: 991px) {
  .nav__toggle {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    width: 38px;
    height: 34px;
    border: 0;
  }
}

.nav__toggle[aria-expanded="true"] {
  .nav__toggle-icon {
    height: 0;

    &::after,
    &::before {
      width: 24px;
      background: #b9bdc5;
    }

    &::after {
      transform: translate(0, 9px) rotate(45deg);
    }

    &::before {
      transform: translate(0, -9px) rotate(-45deg);
    }
  }
}

.nav__toggle-icon {
  background: #b9bdc5;
  position: relative;
  height: 2px;
  width: 18px;
}

.nav__toggle-icon::after,
.nav__toggle-icon::before {
  content: "";
  position: absolute;
  background: #b9bdc5;
  width: 18px;
  height: 2px;
  left: 0;
  transition: transform 0.3s ease 0s;
}

.nav__toggle-icon::after {
  transform-origin: center;
  bottom: 8px;
}

.nav__toggle-icon::before {
  transform-origin: center;
  top: 8px;
}
