body {
  transition: all 0.3s ease 0s;
  > * {
    transition: transform 0.3s ease 0s;
  }
}

body.active {
  width: 100%;
  overflow-x: hidden;
  position: relative;

  > :not(.site-header):not(.learn) {
    transition: transform 0.3s ease 0s;
    transform: translateX(var(--mobile-menu-width));
    z-index: -1;
  }
}
